.navbar {
  width: 100%;
  padding: 15px 30px;
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 18px;
}

.links a:hover {
  text-decoration: underline;
}
